menu "MACKI v1.0 Mainboard Config"
    
    menu "Board GPIO pinout"
        config LED_GPIO
            int "Dummy led"
            default 0
            help
                Dummy so kconfig doesn't break
    endmenu
    
    menu "Logger configuration"

        config LOG_RECEIVERS_COUNT
            int "Number of log receivers"
            default 3
            help
                Number of log receivers present in software i.e. USB, UART, BLE

        config LOG_BUFFER_SIZE
            int "Size of log buffer - closely correlated to MAX_RING_BUFFER_SIZE"
            default 256
            help
                Size of log buffer (elements held)

        config LOG_TOTAL_CHAR_BUFFER_LEN
            int "Size of the maximum length of the log - post log processing"
            default 512
            help
                Size of the log char - string length

        config LOG_MESSAGE_CHAR_BUFFER_LEN
            int "Size of the maximum length of the log message - pre log processing"
            default 400
            help
                Size of the log message char - string length

        config LOG_TAG_CHAR_BUFFER_LEN
            int "Size of the maximum length of the log tag - pre log processing"
            default 32
            help
                Size of the log tag char - string length

        config MACKI_LOG_LEVEL
            int "Chosen log level. TRACE = 0, DEBUG, INFO, WARN, ERROR"
            default 2
            help
                Chosen log level for the project. Info by default
    
    endmenu

    menu "Utils configuration"

        config MAX_RING_BUFFER_SIZE
            int "Maximum ring buffer size"
            default 256
            help
                Specify the maximum number of elements the ring buffer can hold
            
    endmenu

endmenu